{% extends 'base.html' %}


{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}<h1>{{form.pk}}</h1>
    <!-- {{ form.as_p }} -->
    <table class="table mx-2">
        <tr>
            <td><label for="{{ form.fullname.id_for_label }}">Full Name:</label></td>
            <td>{{ form.fullname }}</td>
        </tr><tr><td></td>
        <td></td></tr><tr><td></td>
            <td></td></tr>
        <tr>
            <td><label for="{{ form.emp_code.id_for_label }}">Emp Code:</label></td>
            <td>{{ form.emp_code }}</td>
        </tr><tr><td></td>
            <td></td></tr><tr><td></td>
                <td></td></tr>
        <tr>
            <td><label for="{{ form.mobile.id_for_label }}">Mobile No:</label></td>
            <td>{{ form.mobile }}</td>
        </tr><tr><td></td>
            <td></td></tr><tr><td></td>
                <td></td></tr>
        <tr>
            <td><label for="{{ form.position.id_for_label }}">Position:</label></td>
            <td>{{ form.position }}</td>
        </tr><tr><td></td>
            <td></td></tr><tr><td></td>
                <td></td></tr>
    </table><br><br>
    <button type="submit" class="btn btn-outline-success mx-5">Submit</button><a href="/list"><button type="button" class="btn btn-outline-success">GOTO List</button></a>
</form>
{% endblock content %}
