{% extends 'base.html' %}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Mobile</td>
                <td>Position</td>
                <td>
                    <a href="/"><button type="button" class="btn btn-outline-success">+ ADD</button></a>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for emp in employee %}
                <tr>
                <td>{{emp.fullname}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.position}}</td>
                <td><a href="{% url 'employeeupdate' id=emp.id %}" class="btn text-secondary px-0"> 
                    <h6>Edit</h6>
                </a></td>
                <td><a href="{% url 'employeedelete' id=emp.id %}" class="btn text-secondary px-0"> 
                    <h6>Delete</h6>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}